{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Periodes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Periodeid</th>
                <th>Libelle</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Affluenceprevisible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('periodes_show', { 'id': entity.periodeid }) }}">{{ entity.periodeid }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.affluenceprevisible }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('periodes_show', { 'id': entity.periodeid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('periodes_edit', { 'id': entity.periodeid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('periodes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
