{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Periodes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Periodeid</th>
                <td>{{ entity.periodeid }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.datedebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.datefin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Affluenceprevisible</th>
                <td>{{ entity.affluenceprevisible }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('periodes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('periodes_edit', { 'id': entity.periodeid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
