{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-12 center-block" style="margin-top: 30px">
        {#<h1>Adresses edit</h1>#}

        <form action="{{ path('adresses_update', {'id': entity.adresseid}) }}" method="POST">
            <input type='hidden' name='_method' value='PUT'>
            <div class="col-sm-6">


                <div class="form-group row">
                <span class="col-sm-4">
                  {{ form_label(edit_form.adresseligne1) }}
                </span>
            <span class="col-sm-8">
                    {{ form_widget(edit_form.adresseligne1) }}
            </span>
                </div>
                <div class="form-group row">

                <span class="col-sm-4">
                    {{ form_label(edit_form.ville) }}
                </span>
            <span class="col-sm-8">
                  {{ form_widget(edit_form.ville) }}
            </span>
                </div>
                <div class="form-group row">
                <span class="col-sm-4">
                  {{ form_label(edit_form.codepostal) }}
                </span>
            <span class="col-sm-8">
                  {{ form_widget(edit_form.codepostal) }}
            </span>
                </div>
                <div class="form-group row">
                <span class="col-sm-4">
                 {{ form_label(edit_form.pays) }} </span>
            <span class="col-sm-8">
                {{ form_widget(edit_form.pays) }}
            </span>
                </div>
                {#<div class="form-group row">#}
                {#<span class="col-sm-4">#}
                 {#{{ form_label(edit_form.departementid) }} </span>#}
            {#<span class="col-sm-8">#}
                {#{{ form_widget(edit_form.departementid) }}#}
            {#</span>#}
                {#</div>#}
            </div>


            {{ form_widget(edit_form) }}
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('adresses_show_by_profile') }}">
                    Retourner au adresses
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}

    {% block leftbar %}
        {% render(controller('GitesBundle:Clients:Menu')) %}
    {% endblock %}
