{% extends '::base.html.twig' %}

{% block body -%}

  
    <h1>Adresses list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>adress</th>
            {#<th>Adresse ligne 2</th>#}
            <th>Ville</th>
            <th>Pays</th>
            <th>Codepostal</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('adresses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.address}}</td>
                {#<td>{{ entity.adresseligne2 }}</td>#}
                <td>{{ entity.ville }}</td>
                <td>{{ entity.pays }}</td>
                <td>{{ entity.codepostal }}</td>
                {#<td>{% if entity.datemodification %}{{ entity.datemodification|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('adresses_show', { 'id': entity.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('adresses_edit', { 'id': entity.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ ivory_google_map(map) }}
    {{ ivory_google_api([map]) }}
    <ul>
        <li>
            <a href="{{ path('adresses_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
