{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-12 center-block" style="margin-top: 30px">
        {#<h1>Adresses edit</h1>#}

        <form action="{{ path('markers_create')}}" method="POST">
            {#<input type='hidden' name='_method' value='PUT'>#}
            <div class="col-sm-6">


                <div class="form-group row">
                <span class="col-sm-4">
                  {{ form_label(form.address) }}
                </span>
            <span class="col-sm-8">
                    {{ form_widget(form.address) }}
            </span>
                </div>
                <div class="form-group row">

                <span class="col-sm-4">
                    {{ form_label(form.ville) }}
                </span>
            <span class="col-sm-8">
                  {{ form_widget(form.ville) }}
            </span>
                </div>
                <div class="form-group row">
                <span class="col-sm-4">
                  {{ form_label(form.codepostal) }}
                </span>
            <span class="col-sm-8">
                  {{ form_widget(form.codepostal) }}
            </span>
                </div>
                <div class="form-group row">
                <span class="col-sm-4">
                 {{ form_label(form.pays) }} </span>
            <span class="col-sm-8">
                {{ form_widget(form.pays) }}
            </span>
                </div>

            {{ form_widget(form) }}
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('adresses_show_by_profile') }}">
                    Retourner au adresses
                </a>
            </li>
            {#<li>{{ form(delete_form) }}</li>#}
        </ul>
    </div>
{% endblock %}

    {#{% block leftbar %}#}
        {#{% render(controller('AppBundle:Client:Menu')) %}#}
    {#{% endblock %}#}

