{% extends '::base.html.twig' %}

{% block body -%}
    <div class="fos_user_user_show col-lg-12 center-block">
        <h4 class="center-block">Adresse</h4>
        <a type="submit" href="{{ path('adresses_new') }}">
            Ajouter un autre adresse
        </a>
        {#class="record_properties"#}

        {% for entity in entities %}
            <div class="col-sm-6 col-sm-offset-3">

                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Adresse</label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.adresseligne1 }}</span>
            </span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Ville</label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.ville }}</span>
            </span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Pays</label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.pays }}</span>
            </span>
                    </div>
                    {#<div class="form-group row">#}
                        {#<label class="col-sm-4 form-control-label">Departements</label>#}
            {#<span class="col-sm-8">#}
                {#<span class="form-control-static">{{ entity.getDepartementid.getNom }}</span>#}
            {#</span>#}
                    {#</div>#}
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Code Postal</label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.codepostal }}</span>
            </span>
                    </div>
                    <a type="submit" href="{{ path('adresses_edit', { 'id': entity.adresseid }) }}">
                        Modifier l'adresse
                    </a>


                </form>
            </div>
            <br>
        {% endfor %}

        {#<table  class="table">#}
        {#<tbody>#}
        {#<tr>#}


        {#<th></th>#}
        {#</td>#}
        {#</tr>#}
        {#<tr>#}
        {#<th>Adresse ligne 4</th>#}
        {#<td>{{ entity.adresseligne4 }}</td>#}
        {#</tr>#}
        {#<tr>#}
        {#<th>Ville</th>#}
        {#<td>{{ entity.ville }}</td>#}
        {#</tr>#}
        {#<tr>#}
        {#<th>Pays</th>#}
        {#<td>{{ entity.pays }}</td>#}
        {#</tr>#}
        {#<tr>#}
        {#<th>Codepostal</th>#}
        {#<td>{{ entity.codepostal }}</td>#}
        {#</tr>#}
        {#</tbody>#}
        {#</table>#}

        {#<ul class="record_actions">#}
        {#<li>#}
        {#<a href="{{ path('adresses') }}">#}
        {#Back to the list#}
        {#</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="{{ path('adresses_edit', { 'id': entity.adresseid }) }}">#}
        {#Edit#}
        {#</a>#}
        {#</li>#}
        {#<li>{{ form(delete_form) }}</li>#}
        {#</ul>#}
    </div>
{% endblock %}

    {#{% block leftbar %}#}
        {#{% render(controller('GitesBundle:Clients:Menu')) %}#}



    {#{% endblock %}#}
