{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
    {% block leftbar %}
        {#{% render(controller('GitesBundle:Clients:Menu')) %}#}



    {% endblock %}
