{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit col-lg-10 col-md-10 col-sm-9 col-xs-12 ">

<div class="row" >
    <h4 class="col-sm-3"> Information d'identification</h4>
    <div class="col-sm-6">

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.username) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.username) }}</span>
            </span>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.email) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.email) }}</span>
            </span>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.current_password) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.current_password) }}</span>
            </span>
        </div>
        </div>
</div>
    <div class="row">
<h4 class="col-sm-3">Profil</h4>
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.titre) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.titre) }}</span>
            </span>
        </div>        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.nom) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.nom) }}</span>
            </span>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.prenom) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.prenom) }}</span>
            </span>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 form-control-label">{{ form_label(form.telephone) }}</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ form_widget(form.telephone) }}</span>
            </span>
        </div>
        </div>
        </div>


    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
    </div>
    </div>
</form>
