{% trans_default_domain 'FOSUserBundle' %}

<div class="col-sm-8 col-xs-12 col-lg-6 col-lg-offset-3 col-sm-offset-2 container-fluid content">

    <h3 class="h2_centered_light"> Profil </h3>

    <form id="api-map">
        <a type="input" href="{{ path('fos_user_profile_edit') }}">
            Modifier le profil
        </a>
        <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">{{ 'profile.show.username'|trans }}  </label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ user.username }}</span>
            </span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">{{ 'profile.show.email'|trans }}</label>
                <span class="col-sm-8">
                    <span class="form-control-static">{{ user.email }}</span>
                </span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">Nom</label>
                <span class="col-sm-8">
                    <span class="form-control-static">{{ user.nom }}</span>
                </span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">Prénom</label>
            <span class="col-sm-8">
                <span class="form-control-static"> {{ user.prenom }}</span>
            </span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">Téléphone</label>
                <span class="col-sm-8">
                    <span class="form-control-static">{{ user.telephone }}</span>
                </span>
            </div>
            {%  if(is_granted("ROLE_PROP")) %}

                {#{% render(controller('GitesBundle:Proprietaires:show')) %}#}
            {% endif %}

        </div>
        {#<div class="form-group row">#}
        {#<label class="col-sm-4 form-control-label">Adresse</label>#}
        {#<div class="col-sm-4">#}
        {#<p class="form-control-static">{{ entity.adresseligne1 }}</p>#}
        {#</div>#}

    </form>
    {% if is_granted("ROLE_BORNE")  %}
    <a href="#">Mes Bornes</a>
    {% endif %}


    {#<p></p>#}
    {#<p>:  </p>#}
    {#<p>Nom:  </p>#}
    {#<p>Prénom: </p>#}
    {#<p>Téléphone:  </p>#}

    {#<div class="col-sm-6">#}
    {#<div> {{ render(controller('GitesBundle:Adresses:show', { 'id': user.id } )) }}#}
    {#</div>#}
    {#</div>#}
</div>




