{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer les commentaires</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('commentaires') }}">
                Retourner à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
