<div class="com">
    <h3>Commentaires</h3>
    <ul class="media-list">

        {% if entities is empty %}
            <h4>Ce gite n'a pas encore été commenté</h4>
        {% else %}       {% for entity in entities %}
            <li class="media">
                <div class="media-left">
                    <ul>

                        <li><span class="h5">Satisfaction globale:</span> {{ entity.nombreepis }}</li>
                        <li><span class="h5">Note installation:</span>{{ entity.noteinstallation }}</li>
                        <li><span class="h5">Note confort:</span> {{ entity.noteconfort }}</li>
                        <li><span class="h5">Note Hygiène:</span>{{ entity.notehygiene }}</li>
                        <li><span class="h5">Note accueil</span>{{ entity.noteaccueil }}</li>
                    </ul>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ entity.reservationid.getClientid.get.getPrenom }}</h4>
                    {{ entity.commentaire }}

                </div>
            </li>
        {% endfor %}

        {% endif %}
    </ul>
</div>

