{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commentaires</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Commentaireid</th>
            <td>{{ entity.commentaireid }}</td>
        </tr>
        <tr>
            <th>Datecommentaire</th>
            <td>{{ entity.datecommentaire|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Nombreepis</th>
            <td>{{ entity.nombreepis }}</td>
        </tr>
        <tr>
            <th>Noteinstallation</th>
            <td>{{ entity.noteinstallation }}</td>
        </tr>
        <tr>
            <th>Noteconfort</th>
            <td>{{ entity.noteconfort }}</td>
        </tr>
        <tr>
            <th>Notehygiene</th>
            <td>{{ entity.notehygiene }}</td>
        </tr>
        <tr>
            <th>Noteaccueil</th>
            <td>{{ entity.noteaccueil }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('commentaires') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('commentaires_edit', { 'id': entity.commentaireid }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
