{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
    {#{{ form_widget(form) }}#}
{#<div class="form-control">#}
    {#<input type="submit" value="{{ 'registration.submit'|trans }}"/>#}
{#</div>#}
{#{{ form_end(form) }}#}
<div class="content">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">


        <h4 class="h2_centered_light"> Inscription</h4>

            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.username) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.username,{ 'attr': {'class': 'input_small_centered','placeholder': 'Login'}}) }}
                {#</span>#}
                    <span {{ form_errors(form.username) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.email) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}

                    {{ form_widget(form.email,{ 'attr': {'class': 'input_small_centered','placeholder': 'Email'}}) }}
                {#</span>#}
                     <span {{ form_errors(form.email) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.plainPassword.first) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}
                    {##}
                    {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'input_small_centered','placeholder': 'Mot de Passe'}}) }}
    {#</span>#}
                     <span {{ form_errors(form.plainPassword.first) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">#}
                    {#{{ form_label(form.plainPassword.second), }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'input_small_centered','placeholder': 'Retaper le mot de passe'}}) }}
    {#</span>#}
                     <span {{ form_errors(form.plainPassword.second) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.password) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> {{ form_widget(form.password) }}</span>#}
            {#</span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<h4 class="col-sm-3 col-sm-offset-1">Profil</h4>#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.titre) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static">#}
                    {{ form_widget(form.titre,{ 'attr': {'class': 'input_small_centered'}}) }}
    {#</span>#}
                     <span {{ form_errors(form.titre) }}</span>
            {#</span>#}
            {#</div>        <div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.nom) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.nom,{ 'attr': {'class': 'input_small_centered','placeholder': 'Nom'}}) }}
                {#</span>#}
                     <span {{ form_errors(form.nom) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.prenom) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.prenom,{ 'attr': {'class': 'input_small_centered','placeholder': 'Prénom'}}) }}</span>
                     <span {{ form_errors(form.prenom) }}</span>
            {#</span>#}
            {#</div>#}
            {#<div class="form-group row">#}
                {#<label class="col-sm-4 form-control-label">{{ form_label(form.telephone) }}</label>#}
                {#<span class="col-sm-8">#}
                {#<span class="form-control-static"> {{ form_widget(form.telephone) }}</span>#}
            {#</span>#}
            {#</div>#}
        {#</div>#}

    {#</div>#}

    {{ form_widget(form.telephone,{ 'attr': {'class': 'input_small_centered','placeholder': 'telephone'}}) }}</span>
    <span {{ form_errors(form.telephone) }}</span>

        <input style="margin-top: 10px" type="submit" class="button_small_centered filter_limegreen" value="{{ 'registration.submit'|trans }}"/>


    {{ form_widget(form) }}


</form>
</div>