{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content">
    <h1 class="h2_centered_light">Creneau list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaires de début</th>
                <th>Horaires de fin</th>
                <th>Prix</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('creneau_show', { 'id': entity.idcreneau }) }}">{{ entity.idcreneau }}</a></td>
                <td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.prix }}</td>
                 <td>
                <ul>
                    <li>
                        <a href="{{ path('creneau_show', { 'id': entity.idcreneau }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('creneau_edit', { 'id': entity.idcreneau }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="button_small_centered filter_skyblue" href="{{ path('creneau_new',{'id':id })}}">
                Ajouter un créneau
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
