{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content">
        <div id="id" style="display: none">{{ id }}</div>
        <form>
            <h2 class="h2_centered_light filter_skyblue">DE</h2>
            <input class="input_small_centered date_timepicker_start" id="date_timepicker_start" type="text" name="dateStart" placeholder="Day" required><br>
            <input class="input_small_centered time_timepicker_start" id="time_timepicker_start" type="text" name="dateStart" placeholder="Hour" required><br>
            <h2 class="h2_centered_light filter_skyblue">A</h2>
            <input class="input_small_centered date_timepicker_end" id="date_timepicker_end" type="text" name="dateStart" placeholder="Day" required><br>
            <input class="input_small_centered time_timepicker_end" id="time_timepicker_end" type="text" name="dateStart" placeholder="Hour" required><br>
            <input class="input_small_centered prix" id="prix" type="text" name="prix" placeholder="Prix" required><br>

            <button class="button_small_centered filter_skyblue" id="valider">Valider</button>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts

    '@AppBundle/Resources/public/js/jquery.datetimepicker.js'

 %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
<script>
    $(function(){
        $('.date_timepicker_start').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
                this.setOptions({
                    minDate:'0',
                    maxDate:$('.date_timepicker_end').val()?$('.date_timepicker_end').val():false
                })
            },
            timepicker:false
        });

        $('.date_timepicker_end').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
                this.setOptions({
                    minDate:$('.date_timepicker_start').val()?$('.date_timepicker_start').val():false
                    // minDate:'0'
                })
            },
            timepicker:false
        });

        $('.time_timepicker_start').datetimepicker({
            format:'H:i',
            datepicker:false
        });

        $('.time_timepicker_end').datetimepicker({
            format:'H:i',
            datepicker:false
        });


        $("form").on('submit',function (e) {
            e.preventDefault();
            // Récupération de la ligne en cours
//            var oTR = $(this).parent().parent().parent().parent();
            // Récupération de l'id du film : row-NUMERO -> suppression de 'row-'
            var datestart = document.getElementById('date_timepicker_start').value;
            var timestart = document.getElementById('time_timepicker_start').value;
            var datesend = document.getElementById('date_timepicker_end').value;
            var timeend = document.getElementById('time_timepicker_end').value;
            var prix = document.getElementById('prix').value;
            var id2 = document.getElementById('id').value;
            // Récupération du titre
//            var fname = oTR.find("#fname").html();
//            alert(datestart);
//            if (prix != '' && confirm("Confirmer votre saisie'"))
//            {
                // Affiche l'image d'attente
//                alert('test');
                $('#loader').show('slow', null);
// Perform the ajax post
                $.ajax({
                    url: "{{ path('creneau_create',{'id':id })}}",
                    type: "post",
                    data: { "id": {{ id }}, "datestart": datestart,"timestart":timestart,"datesend": datesend, "timeend": timeend,"prix":prix },
                    success: function(data){
                        if (data.status == 0) {

                            document.location.href="{{ path('creneau',{'id':id}) }}";
//                            oTR.fadeOut('slow');
//                            //row.fadeOut('slow');
//                            $('#update-message').attr("class", 'label label-success');
                        }
                        else
//                            $('#update-message').attr("class", 'label label-important');
//                        $('#update-message').text(data.message);
//                        $('#update-message').show('slow', null).delay(6000).hide('slow');
//                        alert("Erreur lors de l'appel ajax");
                            document.location.href="{{ path('creneau',{'id':id}) }}";
//                        location.reload();
                    },
                    error:function(){
                        alert("Erreur lors de l'appel ajax");
                    }
                });
                // Cache l'image d'attente
                $('#loader').hide();

        });
    });
</script>
{% endblock %}
