{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content">
        <h4 class="h2_big_centered_light filter_warmorange">Succès !</h4>
        <div class="imageSuccess filter_warmorange">
            <img src="{{ asset('bundles/app/img/success.png') }}" alt="" />
        </div>
    </div>
{% endblock %}
