{% extends '::base.html.twig' %}

{% block body -%}
    {#<h1>Demandereservation list</h1>#}

    {#<table class="records_list">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Iddemandereservation</th>#}
    {#<th>Prixtotal</th>#}
    {#<th>Statutpaiement</th>#}
    {#<th>Actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for entity in entities %}#}
    {#<tr>#}
    {#<td><a href="{{ path('demandereservation_show', { 'id': entity.iddemandereservation }) }}">{{ entity.iddemandereservation }}</a></td>#}
    {#<td>{{ entity.prixtotal }}</td>#}
    {#<td>{{ entity.statutpaiement }}</td>#}
    {#<td>#}
    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('demandereservation_show', { 'id': entity.iddemandereservation }) }}">show</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="{{ path('demandereservation_edit', { 'id': entity.iddemandereservation }) }}">edit</a>#}
    {#</li>#}
    {#</ul>#}
    {#</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('demandereservation_new') }}">#}
    {#Create a new entry#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}

    <div class="content">
        <div class="listView">
            {% for entity in entities %}

                {#<div class="listElement content_small_light_inline filter_limegreen flat">#}
                {#<div class="ElementTitle h2_centered_dark_left">#}
                {#{{ entity.idclient.getnom }}#}
                {#</div>#}
                {#<div class="ElementButtons content_small_alpha_right">#}
                {#<button class="button_small_round filter_limegreen"></button>#}
                {#<button class="button_small_round filter_lightred"></button>#}
                {#</div>#}
                {#</div>#}



                <div class="listElement content_small_light_inline">
                    <div class="ElementTitle h2_centered_dark_left">
                        {{ entity.idcreneau.first.idcreneau }}
                        {{ entity.idclient.getnom }}
                    </div>
                    <div class="ElementButtons content_small_alpha_right">
                        <button class="button_small_round filter_limegreen"></button>
                        <button class="button_small_round filter_lightred"></button>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>
        $(function(){
            $('.ElementContent').hide();
            $('.listElement').on('click',function(){
                $(this).children('.ElementContent').toggle();
            });
        });
    </script>
{% endblock %}
