{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création demande</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('demandereservation') }}">
            Retourner à la liste
        </a>
    </li>
</ul>
{% endblock %}
