{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Demandereservation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID Demande</th>
                <td>{{ entity.iddemandereservation }}</td>
            </tr>
            <tr>
                <th>Prix Total</th>
                <td>{{ entity.prixtotal }}</td>
            </tr>
            <tr>
                <th>Statut Paiement</th>
                <td>{{ entity.statutpaiement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('demandereservation') }}">
            Retourner à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('demandereservation_edit', { 'id': entity.iddemandereservation }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
