{% extends '::base.html.twig' %}

{% block body -%}


    <div id="cadrecentrale">
        <form action="{{ path('borne_edit') }}" {{ form_enctype(edit_form) }} method="POST" class=" col-lg-10 col-md-10 col-sm-9 col-xs-12 ">

        <div class="form-group">
            <label for="adresse">Adresse:</label>

            {#<span class="form-control" id="adresse" type="search">{{ form_widget(edit_form.idaddresse.address) }} /> </div>#}

            <div class="form-group">
                <label for="city">City :</label>
                <input class="form-control" id="city" type="search">{{ form_widget(edit_form.idaddresse.ville) }} </div>
            <div class="form-group">
                <label for="zip">Zip Code :</label>
                <input class="form-control" id="zip" type="search">{{ form_widget(edit_form.idaddresse.codepostal) }} </div>
            <div class="form-group">
                <label for="state">pays:</label>
                <input class="form-control" id="state" type="search">{{ form_widget(edit_form.idaddresse.pays) }} </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" type="search">{{ form_widget(edit_form.description) }} </textarea></div>
            {{ form_widget(edit_form) }}
            <div>
                <input type="submit" value="Enregistrer"/>
            </div>
        </form>
    </div>

    <h1>Borne edit</h1>



        <ul class="record_actions">
    <li>
        <a href="{{ path('borne') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
