{% extends '::base.html.twig' %}

{% block body -%}
  <div class="content">
            <h2 class="h2_centered_light">Mes Bornes</h2>
            <div class="listView">
                {% for entity in entities %}
                    <div class="listElement content_small_light">
                        <div class="ElementTitle h2_centered_dark">
                            {{ entity.idborne }}
                        </div>
                        <div class="ElementContent content_verysmall_dark">
                            <div><span class="h5"> Adresse : </span>{{ entity.idaddresse.address ~' '~ entity.idaddresse.ville  }}</div>
                            <div><span class="h5"> Type : </span>{{ entity.idtype}}</div>
                            <div>
                                <a class="h5 creneau" id="{{ entity.idborne }}" href="{{ path('demandereservation_borne', { 'id': entity.idborne }) }}">Demande de reservation</a>
                            </div>
                            <div><span class="h5"> <a href="#">
                                Reservation</a> </span></div>
                            <div>
                                <a class="h5 creneau" id="{{ entity.idborne }}" href="{{ path('creneau', { 'id': entity.idborne }) }}">Créneau</a>
                            </div>

                                    <a href="{{ path('borne_edit', { 'id': entity.idborne }) }}">Modifier la borne</a>

                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            {#{% for entity in entities %}#}
            {#<tr>#}
            {#<td><a href="{{ path('borne_show', { 'id': entity.idborne }) }}">{{ entity.idborne }}</a></td>#}

            {#<td>{{ entity.description }}</td>#}
            {#<td>#}
            {##}
            {#</td>#}
            {#</tr>#}
            {#{% endfor %}#}

    {#<div class="content">#}
    {#<div id="api-map">#}
    {#{{ ivory_google_map(map) }}#}
    {#{{ ivory_google_api([map]) }}#}
    {#</div>#}
    <br>
    <br>

    </div>

    <button class="button_small_centered filter_skyblue" onclick="location.href='{{ path('borne_new') }}'">Ajouter une Borne</button>

    {#</li>#}
    {#</ul>#}
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){


            $('.ElementContent').hide();
            $('.listElement').on('click',function(){
                $(this).children('.ElementContent').toggle();
            });

            $('.creneau').on('click', function ()
            {
                var id=$(this).attr('id');



                {#{% render(controller('GitesBundle:Clients:Menu',{'id':id})) %}#}
            });
        });
    </script>
{% endblock %}
