{% extends '::base.html.twig' %}

{% block body -%}
    {#<h1>Borne list</h1>#}

    {#<table class="records_list">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Etat</th>#}
                {#<th>Description</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for entity in entities %}#}
            {#<tr>#}
                {#<td><a href="{{ path('borne_show', { 'id': entity.idborne }) }}">{{ entity.idborne }}</a></td>#}

                {#<td>{{ entity.description }}</td>#}
                {#<td>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="{{ path('borne_show', { 'id': entity.idborne }) }}">show</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('borne_edit', { 'id': entity.idborne }) }}">edit</a>#}
                    {#</li>#}
                {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    <div class="content" >
        <div id="api-map">
            {{ ivory_google_map(map) }}
            {{ ivory_google_api([map]) }}
        </div>
        <br>
        <br>
        {#<button class="button_small_centered filter_skyblue">Continuer</button>#}
    </div>

        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('borne_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {% endblock %}
