{% extends '::base.html.twig' %}

{% block body -%}
        <div class="content">
        {#<h1>Creation de Borne</h1>#}
        <form action="{{ path('borne_create') }}" {{ form_enctype(form) }} method="POST" >

            {#<div class="form-group">#}
                {#<label for="adresse">Adresse:</label>#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.idaddresse.address,{ 'attr': {'class': 'input_small_centered','placeholder': 'Adresse'}}) }}
                {#</span>#}

                {#<input class="form-control" id="adresse" type="search">{{ form_widget(form.idaddresse.address) }}</div>#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="city">Ville:</label>#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.idaddresse.ville,{ 'attr': {'class': 'input_small_centered','placeholder': 'Ville'}}) }}
                {#</span>#}
{#</div>#}
                {#<input class="form-control" id="city" type="search">{{ form_widget(form.idaddresse.ville) }} </div>#}
            {#<div class="form-group">#}
                {#<label for="zip">Code Postal:</label>#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.idaddresse.codepostal,{ 'attr': {'class': 'input_small_centered','placeholder': 'Code Postal'}}) }}
                {#</span>#}
            {#</div>#}
                {#<input class="form-control" id="zip" type="search">{{ form_widget(form.idaddresse.codepostal) }} </div>#}
            {#<div class="form-group">#}
                {#<label for="state">pays:</label>#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.idaddresse.pays,{ 'attr': {'class': 'input_small_centered','placeholder': 'Pays'}}) }}
                {#</span>#}
            {#</div>#}
                {#<input class="form-control" id="state" type="search">{{ form_widget(form.idaddresse.pays) }} </div>#}
            {#<div class="form-group">#}
                {#<label for="description">Description:</label>#}
                {#<span class="form-control-static"> #}
                    {{ form_widget(form.description,{ 'attr': {'class': 'input_small_centered','placeholder': 'Description'}}) }}
                {#</span>#}
            {#</div>#}
            {{ form_widget(form.idtype,{ 'attr': {'class': 'input_small_centered','placeholder': 'Type'}}) }}

            {{ form_widget(form) }}

                <input class="button_small_centered filter_limegreen" type="submit" value="Enregistrer"/>


        </form>
    </div>
{% endblock %}
