{% extends '::base.html.twig' %}

{% block body -%}


    <div class="content">
    {#<div id="map"></div>#}


    <button class="button_bulky_centered filter_skyblue" id="pos" >Partager ma position</button>
        <button class="button_bulky_centered filter_warmorange" onclick="location.href='{{ path('adresses_new_test') }}'">Rechercher à partir d'un lieu</button>
    </div>
    {% endblock %}
{% block javascripts %}

    <script>

        function maPosition(position) {
            var infopos = "Position déterminée :\n";
            infopos += "Latitude : "+position.coords.latitude +"\n";
            infopos += "Longitude: "+position.coords.longitude+"\n";
            infopos += "Altitude : "+position.coords.altitude +"\n";
//            document.getElementById("infoposition").innerHTML = infopos;
            $lat=position.coords.latitude;
            $lng=position.coords.longitude;
            $route="{{ path('borne_autour',{'lat':'y', 'lng':'z'}) }}";
            $route=$route.replace("y",$lat);
            $route=$route.replace("z",$lng);
//                    +"/"+$lng;
            {#$.ajax({#}
                {#url: "{{ url('borne') }}",#}
                {#data: {#}
                    {#'lat': $lat,#}
                    {#'lng': $lng#}
                {#},#}
                {#success: function(response){#}
                    {#if(response.existent==false){#}
                        {#$('#alert').children('h1').html("IDENTIFIANTS INCORRECTS.").attr('class', 'titlered');#}
                        {#$('#alert').slideDown();#}
                    {#}#}
                    {#else{#}
                        {#$.ajax({#}
                            {#url: "{{ url("borne") }}",#}
                            {#data:{#}
                                {#'login': $loginUser,#}
                                {#'pass': $passUser#}
                            {#},#}
                            {#success: function (data) {#}
                                {#location.reload();#}
                            {#}#}
                        {#});#}
                    {#}#}
                {#}#}
            {#});#}

            document.location.href=$route;
        }
        function Geolosalisation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(maPosition, erreurPosition);

            }
        }
        document.getElementById("pos").addEventListener("click", Geolosalisation,false);




        function erreurPosition(error) {
            var info = "Erreur lors de la géolocalisation : ";
            switch(error.code) {
                case error.TIMEOUT:
                    info += "Timeout !";
                    break;
                case error.PERMISSION_DENIED:
                    info += "Vous n’avez pas donné la permission";
                    break;
                case error.POSITION_UNAVAILABLE:
                    info += "La position n’a pu être déterminée";
                    break;
                case error.UNKNOWN_ERROR:
                    info += "Erreur inconnue";
                    break;
            }
            document.getElementById("infoposition").innerHTML = info;}
    </script>
    {#<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAJ2uoRanGf5OJjGwY-ZzM2MkBu-MeW5wM"></script>#}
{% endblock %}
