{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content" style="margin-top: 15px">
     <div id="idborne" style="display: none" >{{ entity.idborne }}</div>
    <h1 class="h2_centered_light">Disponibilités</h1>


    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
</div>
{% endblock %}


{% block javascripts %}
    {% javascripts
       'bundles/adesignscalendar/js/moment/moment.min.js'
    'bundles/adesignscalendar/js/fullcalendar/fullcalendar.min.js'
    'bundles/adesignscalendar/js/fullcalendar/fullcalendar-lang-all.js'
    '@AppBundle/Resources/public/js/calendar-settings.js' %}

    <script src="{{ asset_url }}"></script>



    {% endjavascripts %}
{% endblock %}