{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{#<div id="content">#}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="center-bloc">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


                {#<label class="col-sm-2 col-sm-offset-4 form-control-label"#}
                       {#for="username">{{ 'security.login.username'|trans }}</label>#}

                    <input class="input_small_centered" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login"
                           required="required"/>



                {#<label class="col-sm-2 col-sm-offset-4 form-control-label"#}
                       {#for="password">{{ 'security.login.password'|trans }}</label>#}

                    <input class="input_small_centered " type="password" id="password" name="_password" required="required" placeholder="Password"/>


                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" placeholder="{{ 'security.login.remember_me'|trans }}"/>#}
                {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}


                <input class="button_small_centered filter_limegreen" type="submit" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            <button class="button_small_centered filter_warmorange" onclick="location.href='{{ path('fos_user_registration_register') }}'">Inscription</button>






        </form>


        {#<form>#}
        {#<div class="form-group row">#}
        {#<label class="col-sm-2 form-control-label">Email</label>#}
        {#<div class="col-sm-10">#}
        {#<p class="form-control-static">email@example.com</p>#}
        {#</div>#}
        {#</div>#}
        {#<div class="form-group row">#}
        {#<label for="inputPassword" class="col-sm-2 form-control-label">Password</label>#}
        {#<div class="col-sm-2">#}
        {#<input type="password" class="form-control" id="inputPassword" placeholder="Password">#}
        {#</div>#}
        {#</div>#}
        {#</form>#}
    {#</div>#}
{% endblock fos_user_content %}
