<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}

    {#<!-- Optional theme -->#}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">#}
    {% stylesheets
    'bootstrap/css/bootstrap.min.css'
    'bootstrap/css/bootstrap-theme.min.css'
    '@AppBundle/Resources/public/css/*'


    filter='cssrewrite' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %} {% endblock %}

    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
</head>
<body>


{% block header %}
    {#<div  class="header filter_limegreen">#}
        {#<div class="container">#}
            {#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin: 0px">#}
                {#<div class="navbar-inner">#}
                    {#<div class="container">#}

                            {#<!-- Brand and toggle get grouped for better mobile display -->#}
                            {#<div class="navbar-header">#}
                                {#<button type="button" class="navbar-toggle" data-toggle="collapse"#}
                                        {#data-target="#bs-example-navbar-collapse-1">#}
                                    {#<span class="sr-only"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                {#</button>#}
                                {#<div class="logo">#}
                                    {#<a class="navbar-brand" href="#"> <span>Accueil</span></a>#}
                                {#</div>#}

                            {#<!-- Collect the nav links, forms, and other content for toggling -->#}
                            {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                                {#<ul class="nav navbar-nav">#}
                                    {#<li>#}
                                        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}

                                            {#<a  href="{{ path('fos_user_security_logout') }}">#}
                                                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                                            {#</a>#}
                                        {#{% else %}#}
                                            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                                        {#{% endif %}#}

                                    {#</li>#}
                                    {#<li>#}
                                        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}

                                            {#<a class="" href="/client/menu">                    Menu#}
                                            {#</a>#}
                                        {#{% endif %}#}

                                    {#</li>#}
                                {#</ul>#}

                            {#</div>#}
                        {#</div>#}
                        {#<!-- /.navbar-collapse -->#}
                    {#</div>#}
                {#</div>#}
                    {#<!-- /.container -->#}
            {#</nav>#}
        {#</div>#}








    {#</div>#}
    {#<div class="banner" style="background-image:url({{ asset('bundles/app/img/header_picture.jpg') }})">#}
        {#<div class="container">#}

            {#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin: 0px">#}
                {#<div class="navbar-inner">#}
                    {#<div class="container">#}
                        {#<div class="header-nav">#}
                            {#<!-- Brand and toggle get grouped for better mobile display -->#}
                            {#<div class="navbar-header">#}
                                {#<button type="button" class="navbar-toggle" data-toggle="collapse"#}
                                        {#data-target="#bs-example-navbar-collapse-1">#}
                                    {#<span class="sr-only"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                    {#<span class="icon-bar"></span>#}
                                {#</button>#}
                                {#<div class="logo">#}
                                    {#<a class="navbar-brand" href="#"> <span>Accueil</span></a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- Collect the nav links, forms, and other content for toggling -->#}
                            {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                                {#<ul class="nav navbar-nav">#}
                                    {#<li>#}
                                        {#<a href="#">Mes recherches</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">Mes réservations</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="{{ path('fos_user_profile_show') }}">Mon compte</a>#}
                                    {#</li>#}

                                {#</ul>#}

                            {#</div>#}
                        {#</div>#}
                        {#<!-- /.navbar-collapse -->#}
                    {#</div>#}
                    {#<!-- /.container -->#}
            {#</nav>#}
        {#</div>#}
    {#</div>#}
    <div class="header container">

        <nav class="navbar navbar-inverse navbar-fixed-top filter_limegreen" role="navigation" style="margin: 0px">
            <div class="navbar-inner">
                <div class="container">
                    <div class="header-nav">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <a class="navbar-brand" href="{{ path('borne') }}"> <span>Accueil</span></a>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                        <a class="" href="{{ path('clientsmenu') }}">                    Menu
                                        </a>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                        <a  href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
{% endblock %}
{% block menu %}

    {% block leftbar %}{% endblock %}
{% endblock %}



        {% block fos_user_content %}
        {% endblock fos_user_content %}

{% block rightbar %}{% endblock %}

{#<footer class="footer bottom col-lg-12 col-xs-12 col-sm-12 col-md-12">#}
{#<div class="container">#}
{#<div class="panel panel-default">#}

{#<div class="panel-body">#}

{#<div class="col-sm-4">#}

{#<h3>Company<span>logo</span></h3>#}

{#<div class="footer-nav">#}
{#<a href="#">Home</a>#}
{#·#}
{#<a href="#">Blog</a>#}
{#·#}
{#<a href="#">Pricing</a>#}
{#·#}
{#<a href="#">About</a>#}
{#·#}
{#<a href="#">Faq</a>#}
{#·#}
{#<a href="#">Contact</a>#}
{#</div>#}

{#<p class="">GitesArea &copy; 2016</p>#}
{#</div>#}

{#<div class="col-sm-4">#}

{#<div>#}

{#<p><span class="glyphicon glyphicon-certificate"></span><span>75 avenue des Champignons</span> Paris, France</p>#}
{#</div>#}

{#<div>#}

{#<p><span class="glyphicon glyphicon-phone-alt"></span>0620991098</p>#}
{#</div>#}

{#<div>#}

{#<p> <span class="glyphicon glyphicon-envelope"></span><a href="mailto:vincent.autes@gmail.com">vincent.autes@gmail.com</a></p>#}
{#</div>#}

{#</div>#}



{#<div class="col-sm-4">#}
{#<span class="glyphicon-comment"></span>#}
{#Ceci est mon premier site symfony 2.7, il est remplis d'imperfections et de bug. Mais qui code sans bug du premier coup?... Pas moi#}
{#</div>#}
{#<div>#}

{#<div class="footer-nav">#}

{#<a href="#"><i class="fa fa-facebook"></i>Lens</a>#}
{#<a href="#"><i class="fa fa-twitter"></i> </a>#}
{#<a href="#"><i class="fa fa-linkedin"></i> </a>#}
{#<a href="#"><i class="fa fa-github"></i> </a>#}

{#</div>#}

{#</div>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</footer>#}
{#<div class="footer bottom col-lg-12 col-xs-12 col-sm-12 col-md-12">#}
    {#<div class="container">#}
        {#<div class="footer-row">#}
            {#<div class="col-md-4  footer-grids">#}
                {#<h4><a href="index.html">ProjetGites</a></h4>#}
                {#<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:vincent.autes@gmail.com">vincent.autes@gmail.com</a>#}
                {#</p>#}
                {#<p>+2 000 222 1111</p>#}
                {#<ul class="social-icons">#}
                    {#<li><a href="#" class="p"></a></li>#}
                    {#<li><a href="#" class="in"></a></li>#}
                    {#<li><a href="#" class="v"></a></li>#}
                    {#<li><a href="#" class="facebook"></a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-md-3   footer-grids">#}
                {#<h3>Navigation</h3>#}
                {#<ul>#}
                    {#<li><a href="#">Home</a></li>#}
                    {#<li><a href="#">About us</a></li>#}
                    {#<li><a href="#">Services</a></li>#}
                    {#<li><a href="#">Typo</a></li>#}
                    {#<li><a href="#">Contact</a></li>#}
                    {#non#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-md-3  footer-grids">#}
                {#<h3>Coordonnées</h3>#}
                {#<ul>#}
                    {#<li><p><span class="glyphicon glyphicon-certificate"></span><span>75 avenue des Champignons Montpellier</span>#}
                        {#</p></li>#}
                    {#<li><p><span class="glyphicon glyphicon-phone-alt"></span> 0620991098</p></li>#}
                    {#<li><p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:vincent.autes@gmail.com">vincent.autes@gmail.com</a>#}
                        {#</p></li>#}

                {#</ul>#}
            {#</div>#}
            {#<div class="col-md-3  footer-grids">#}
            {#<h3>Newsletter</h3>#}
            {#<p>It was popularised in the 1960s with the release Ipsum. <p>#}

            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="footer-bottom col-lg-12 col-xs-12 col-sm-12 col-md-12">#}
    {#<div class="container">#}
        {#<p>Copyright &copy; 2016 Residence. All Rights Reserved | Design By <a href="http://w3layouts.com/">Design by#}
                {#W3layouts</a></p>#}
    {#</div>#}
{#</div>#}
{#<div id="footer" class="filter_limegreen"></div>#}

{#<script#}
{#src="https://code.jquery.com/jquery-2.2.3.min.js"#}
{#integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="#}
{#crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}


{% javascripts
'jquery/jquery.min.js'
'bootstrap/js/bootstrap.min.js'

%}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}
{% endblock %}


</body>
</html>

