body{
  margin: 0;
  background-color: #222222;
  position:relative;
  height: 100%;
}

/*Containers*/
/**/
.content{
  margin-top: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #8c8c8c;
  box-shadow: 0px 8px 0px #333;
  /*color: #eeeeee;*/
  margin: auto;
  margin-top: 15px;
  float: inherit;
  width: 66%;
  height: 50%;
}

#calendar-holder{
  background-color: #afd9ee;
}

.imageSuccess{
  text-align: center;
}

.imageSuccess img{
  width: 50%;
}

.content_small_light{
  border: 1px dashed #777;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #333;
  margin: auto;
  float: inherit;
  width: 66%;
}

.content_small_light_inline{
  border: 1px dashed #777;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #333;
  margin: auto;
  float: inherit;
  width: 66%;
}

.content_verysmall_dark{
  font-family: 'Trebuchet MS', sans-serif;
  /*text-align: center;*/
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #333333;
  color:#eeeeee;
  border-right: 8px dashed #222;
  border-left: 8px dashed #222;
  border-top: 8px solid #aaa;
  border-bottom: 8px solid #aaa;
  /*box-shadow: 0px -8px 0px #333;*/
  margin: auto;
  float: inherit;
  width: 95%;
}

#api-map{
  height: 400px;
  background-color: #cdcdcd;
}

.header{
  height: 50px;
  /*!*background-color: #eeeeee;*!*/
  /*!*box-shadow: 0px 8px 0px #aaaaaa;*!*/
  /*margin-bottom: 20px;*/
}

.footer{
  position: fixed;
  bottom: 0px;
  height: 75px;
  width: 100%;
  background-color: #eeeeee;
  box-shadow: 0px -8px 0px #aaaaaa;
  margin-top: 8px;
}

.content_small_alpha_right{
  float:right;
  vertical-align: middle;
  margin-right: 20px;
}
/**/

/*Elements*/
/**/
.input_small_centered{
  display: block;
  width: 500px;
  height: 40px;
  margin: auto;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px black;
  font-family: 'Trebuchet MS', 'sans serif';
  border:2px solid grey;
  padding: 5px;
}

/*button{*/
  /*border-radius: 15px;*/
  /*margin: 10px;*/
/*}*/
.button_small_centered{
  display: block;
  color: #333;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  width:300px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}

.button_small{
  display: block;
  color: #333;
  /*margin: auto;*/
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  width:300px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}

.button_small_round{
  display: inline-block;;
  color: #333;
  vertical-align: middle;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 30px;
  width:30px;
  border-radius: 30px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}

.button_bulky_centered{
  display: block;
  color: #333;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 150px;
  width:300px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}

.h2_centered_light{
  display: block;
  color: #eeeeee;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  width:300px;
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: 0px 2px 0px #666666;
  border: 0px solid white;
}

.h2_big_centered_light{
  display: block;
  color: #eeeeee;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  height: 50px;
  width:100%;
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: 0px 2px 0px #666666;
  border: 0px solid white;
}

.h2_centered_dark{
  display: block;
  color: #444444;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  /*height: 50px;*/
  width:300px;
  font-family: 'Trebuchet MS', sans-serif;
  /*text-shadow: 0px 2px 0px #444444;*/
  border: 0px solid white;
}

.h2_centered_dark_left{
  display: inline-block;
  color: #444444;
  margin-left: 20px;
  overflow:hidden;
  text-overflow: ellipsis;
  /*text-align: center;*/
  font-size: 1.3em;
  font-weight: bold;
  /*height: 50px;*/
  width:60%;
  font-family: 'Trebuchet MS', sans-serif;
  /*text-shadow: 0px 2px 0px #444444;*/
  border: 0px solid white;
}
/**/


/*Filters*/
/**/
.filter_limegreen{
  -webkit-filter: brightness(0.7) sepia(1) saturate(3) hue-rotate(60deg);
  filter: brightness(0.7) sepia(1) saturate(3) hue-rotate(60deg);
}

.filter_skyblue{
  -webkit-filter: brightness(0.6) sepia(1) saturate(3) hue-rotate(180deg);
  filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(180deg);
}

.filter_warmorange{
  -webkit-filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-20deg);
  filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-20deg);
}

.filter_lightred{
  -webkit-filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-40deg);
  filter: brightness(0.4) sepia(1) saturate(4) hue-rotate(-50deg);
}
/**/


/*Effects*/
/**/
button.filter_limegreen:hover{
  -webkit-filter: brightness(0.8) sepia(1) saturate(2) hue-rotate(60deg);
  filter: brightness(0.8) sepia(1) saturate(2) hue-rotate(60deg);
}

button.filter_limegreen:active{
  -webkit-filter: brightness(0.5) sepia(1) saturate(2) hue-rotate(60deg);
  filter: brightness(0.5) sepia(1) saturate(2) hue-rotate(60deg);
}

button.filter_skyblue:hover{
  -webkit-filter: brightness(0.7) sepia(1) saturate(2) hue-rotate(180deg);
  filter: brightness(0.7) sepia(1) saturate(2) hue-rotate(180deg);
}

button.filter_skyblue:active{
  -webkit-filter: brightness(0.4) sepia(1) saturate(2) hue-rotate(180deg);
  filter: brightness(0.4) sepia(1) saturate(2) hue-rotate(180deg);
}

button.filter_warmorange:hover{
  -webkit-filter: brightness(0.7) sepia(1) saturate(4) hue-rotate(-20deg);
  filter: brightness(0.7) sepia(1) saturate(4) hue-rotate(-20deg);
}

button.filter_warmorange:active{
  -webkit-filter: brightness(0.4) sepia(1) saturate(3) hue-rotate(-20deg);
  filter: brightness(0.4) sepia(1) saturate(3) hue-rotate(-20deg);
}

button.filter_lightred:hover{
  -webkit-filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-40deg);
  filter: brightness(0.7) sepia(1) saturate(5) hue-rotate(-40deg);
}

button.filter_lightred:active{
  -webkit-filter: brightness(0.7) sepia(1) saturate(4) hue-rotate(-40deg);
  filter: brightness(0.3) sepia(1) saturate(3) hue-rotate(-40deg);
}

.flat{
  box-shadow: 0px 0px 0px black;
  text-shadow: 0px 0px 0px black;
}
/**/

/*Responsive Design*/
@media screen and (max-width: 800px) {
  body{
    margin: 0;
    background-color: #222222;
    position:relative;
    height: 90%;
  }

  /*Containers*/
  .content{
    width: 100%;
    height: 80%;
  }

  .imageSuccess img{
    width: 80%;
  }
  .content_small_light, .content_small_light_inline{
    width: 99%;
  }

  #api-map{
    /*height: 80%;*/
    width: 80%;
    /*text-align: center;*/
    /*margin: auto;*/
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
  }

  .header{
    height: 50px;
    /*background-color: #eeeeee;*/
    /*box-shadow: 0px 8px 0px #aaaaaa;*/
    margin-bottom: 0px;
    display: inline-block;

  }

  .container{
    margin-bottom: 10px;
  }
  .footer{
    position: fixed;
    bottom: 0px;
    height: 75px;
    width: 100%;
    background-color: #eeeeee;
    box-shadow: 0px -8px 0px #aaaaaa;
  }
  /*Elements*/
  .input_small_centered{
    width: 70%;
  }

  .button_small_centered, .button_bulky_centered{
    width:90%;
  }
}
