{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TarifsPeriodes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Tarifperiodeid</th>
                <th>Tarifjournalier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tarifsperiodes_show', { 'id': entity.tarifperiodeid }) }}">{{ entity.tarifperiodeid }}</a></td>
                <td>{{ entity.tarifjournalier }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tarifsperiodes_show', { 'id': entity.tarifperiodeid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tarifsperiodes_edit', { 'id': entity.tarifperiodeid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tarifsperiodes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
