{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TarifsPeriodes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tarifperiodeid</th>
                <td>{{ entity.tarifperiodeid }}</td>
            </tr>
            <tr>
                <th>Tarifjournalier</th>
                <td>{{ entity.tarifjournalier }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tarifsperiodes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tarifsperiodes_edit', { 'id': entity.tarifperiodeid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
