body{
  margin: 0;
  background-color: #222222;
  position:relative;
  height: 100%;
}

/*Containers*/
/**/
.content{
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #3f3f3f;
  box-shadow: 0px 8px 0px #333;
  /*color: #eeeeee;*/
  margin: auto;
  float: inherit;
  width: 66%;
}

#api-map{
  height: 500px;
  background-color: #cdcdcd;
}

#header{
  height: 60px;
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  margin-bottom: 20px;
}

#footer{
  position: absolute;
  bottom: 0px;
  height: 75px;
  width: 100%;
  background-color: #eeeeee;
  box-shadow: 0px -8px 0px #aaaaaa;
  margin-top: 8px;
}
/**/

/*Elements*/
/**/
.input_small_centered{
  display: block;
  width: 500px;
  height: 40px;
  margin: auto;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px black;
  font-family: 'Trebuchet MS', 'sans serif';
  border:2px solid grey;
  padding: 5px;
}

.button_small_centered{
  display: block;
  color: #333;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 50px;
  width:300px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}

.button_bulky_centered{
  display: block;
  color: #333;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 150px;
  width:300px;
  font-family: 'Trebuchet MS', 'sans serif';
  background-color: #eeeeee;
  box-shadow: 0px 8px 0px #aaaaaa;
  border: 0px solid white;
}
/**/


/*Filters*/
/**/
.filter_limegreen{
  -webkit-filter: brightness(0.7) sepia(1) saturate(3) hue-rotate(60deg);
  filter: brightness(0.7) sepia(1) saturate(3) hue-rotate(60deg);
}

.filter_skyblue{
  -webkit-filter: brightness(0.6) sepia(1) saturate(3) hue-rotate(180deg);
  filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(180deg);
}

.filter_warmorange{
  -webkit-filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-20deg);
  filter: brightness(0.6) sepia(1) saturate(5) hue-rotate(-20deg);
}
/**/


/*Effects*/
/**/
button.filter_limegreen:hover{
  -webkit-filter: brightness(0.8) sepia(1) saturate(2) hue-rotate(60deg);
  filter: brightness(0.8) sepia(1) saturate(2) hue-rotate(60deg);
}

button.filter_limegreen:active{
  -webkit-filter: brightness(0.5) sepia(1) saturate(2) hue-rotate(60deg);
  filter: brightness(0.5) sepia(1) saturate(2) hue-rotate(60deg);
}

button.filter_skyblue:hover{
  -webkit-filter: brightness(0.7) sepia(1) saturate(2) hue-rotate(180deg);
  filter: brightness(0.7) sepia(1) saturate(2) hue-rotate(180deg);
}

button.filter_skyblue:active{
  -webkit-filter: brightness(0.4) sepia(1) saturate(2) hue-rotate(180deg);
  filter: brightness(0.4) sepia(1) saturate(2) hue-rotate(180deg);
}

button.filter_warmorange:hover{
  -webkit-filter: brightness(0.7) sepia(1) saturate(4) hue-rotate(-20deg);
  filter: brightness(0.7) sepia(1) saturate(4) hue-rotate(-20deg);
}

button.filter_warmorange:active{
  -webkit-filter: brightness(0.4) sepia(1) saturate(3) hue-rotate(-20deg);
  filter: brightness(0.4) sepia(1) saturate(3) hue-rotate(-20deg);
}
/**/

/*Responsive Design*/
@media screen and (max-width: 1024px) {
  body{
    margin: 0;
    background-color: #222222;
    position:relative;
    height: 100%;
  }

  /*Containers*/
  .content{
    width: 100%;
    height: 80%;
  }

  #api-map{
    /*height: 80%;*/
    width: 80%;
    /*text-align: center;*/
    /*margin: auto;*/
    /*text-align: center;*/
margin-left: auto;
    margin-right: auto;
  }

  #header{
    height: 60px;
    background-color: #eeeeee;
    box-shadow: 0px 8px 0px #aaaaaa;
    margin-bottom: 0px;
  }

  #footer{
    position: fixed;
    bottom: 0px;
    height: 75px;
    width: 100%;
    background-color: #eeeeee;
    box-shadow: 0px -8px 0px #aaaaaa;
  }
  /*Elements*/
  .input_small_centered{
    width: 70%;
  }

  .button_small_centered, .button_bulky_centered{
    width:90%;
  }

  .map_canvas{
    width: 70%;
    height: 70%;
  }
}
