{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Disponibilites list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Date</th>
            <th>Dispoid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('disponibilites_show', { 'id': entity.dispoid }) }}">{{ entity.date|date("m/d/Y") }}</a>
                </td>
                <td>{{ entity.dispoid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('disponibilites_show', { 'id': entity.dispoid }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
