{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Disponibilites</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Dispoid</th>
            <td>{{ entity.dispoid }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('disponibilites') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
