{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid col-lg-10 col-md-10 col-sm-9 col-xs-12 ">
    <h1>Modification du proprietaire</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">
               Annuler
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    </div>
{% endblock %}

    {% block leftbar %}
        {% render(controller('GitesBundle:Clients:Menu')) %}



    {% endblock %}