{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proprietaires list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Langue</th>
            <th>Datemodification</th>
            <th>Siteweb</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proprietaires_show', { 'id': entity.proprietaireid }) }}">{{ entity.langue }}</a>
                </td>
                <td>{% if entity.datemodification %}{{ entity.datemodification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.siteweb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proprietaires_show', { 'id': entity.proprietaireid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proprietaires_edit', { 'id': entity.proprietaireid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proprietaires_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
