{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Compte Proprietaires</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('proprietaires') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}


    {% block leftbar %}
        {% render(controller('GitesBundle:Clients:Menu')) %}



    {% endblock %}