{#{% extends '::base.html.twig' %}#}

{#{% block body -%}#}


{#<div class="col-sm-6 col-sm-offset-3 center-block">#}

    <div class="form-group row">
        <label class="col-sm-4 form-control-label">Langue </label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.langue }}</span>
            </span>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 form-control-label">Site Web </label>
            <span class="col-sm-8">
                <span class="form-control-static">{{ entity.siteweb }}</span>
            </span>
    </div>
{#</div>#}

    {#<table class="record_properties">#}
        {#<tbody>#}
        {#<tr>#}
            {#<th>Langue</th>#}
            {#<td>{{ entity.langue }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Datemodification</th>#}
            {#<td>{{ entity.datemodification|date('Y-m-d H:i:s') }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Siteweb</th>#}
            {#<td>{{ entity.siteweb }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul class="record_actions">#}
        {#<li>#}
            {#<a href="{{ path('proprietaires') }}">#}
                {#Back to the list#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            <a href="{{ path('proprietaires_edit', { 'id': entity.proprietaireid }) }}">Modifier
            </a>
        {#</li>#}
        {#<li>{{ form(delete_form) }}</li>#}
    {#</ul>#}
{#{% endblock %}#}
