{#{% form_theme form _self %}#}

{#{% block _gitesbundle_gites_images_entry_widget %}#}
{#<table data-prototype="{{ _self.service_template(form.vars.prototype)|e }}">#}
    {#<tr>#}
        {#<td>{{ form_widget(form.titreimages) }}</td><td>{{ form_label(form.titreimages) }}</td>#}
        {#</tr>#}
    {#<tr>#}
        {#<td>{{ form_widget(form.textalternatif) }}</td><td>{{ form_label(form.textalternatif) }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<td>{{ form_widget(form.path) }}</td><td>{{ form_label(form.path) }}</td>#}
    {#</tr>#}
    {#</table>#}
  {##}
{#{% endblock %}#}


{% macro images_template(fields) %}
    <tr>
        <td>{{ form_widget(form.titreimages) }}</td><td>{{ form_label(form.titreimages) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.textalternatif) }}</td><td>{{ form_label(form.textalternatif) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.path) }}</td><td>{{ form_label(form.path) }}</td>
    </tr>
{% endmacro %}

{#
   The block name must match your field name!
   You can find it by going into the debug toolbar -> Forms ->
   click on your form field and then search for "unique_block_prefix".
   Copy that and add "_widget" at the end.
#}

{% block _gitesbundle_gites_images_entry_widget %}
    <table data-prototype="{{ _self.images_template(form.vars.prototype)|e }}">
        {% for fields in form.children %}
            {{ _self.images_template(fields) }}
        {% endfor %}
    </table>
{% endblock %}