{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Reservationid</th>
                <th>Modereservation</th>
                <th>Datereservation</th>
                <th>Datearrivee</th>
                <th>Dureesejour</th>
                <th>Acompte</th>
                <th>Modereglementacompte</th>
                <th>Datereglementacompte</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.reservationid }) }}">{{ entity.reservationid }}</a></td>
                <td>{{ entity.modereservation }}</td>
                <td>{% if entity.datereservation %}{{ entity.datereservation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datearrivee %}{{ entity.datearrivee|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.dureesejour }}</td>
                <td>{{ entity.acompte }}</td>
                <td>{{ entity.modereglementacompte }}</td>
                <td>{% if entity.datereglementacompte %}{{ entity.datereglementacompte|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.total }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.reservationid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.reservationid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
