{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Reservationid</th>
                <td>{{ entity.reservationid }}</td>
            </tr>
            <tr>
                <th>Modereservation</th>
                <td>{{ entity.modereservation }}</td>
            </tr>
            <tr>
                <th>Datereservation</th>
                <td>{{ entity.datereservation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datearrivee</th>
                <td>{{ entity.datearrivee|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dureesejour</th>
                <td>{{ entity.dureesejour }}</td>
            </tr>
            <tr>
                <th>Acompte</th>
                <td>{{ entity.acompte }}</td>
            </tr>
            <tr>
                <th>Modereglementacompte</th>
                <td>{{ entity.modereglementacompte }}</td>
            </tr>
            <tr>
                <th>Datereglementacompte</th>
                <td>{{ entity.datereglementacompte|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservation_edit', { 'id': entity.reservationid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
