{#{% block stylesheets %}#}
    {#{% stylesheets#}
    {#'@GitesBundle/Resources/public/css/bootstrap-datepicker.css'#}
    {#%}#}

    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
{#{% endblock %}#}

{#{% form_theme form.equipements with '@ExpandedCollection/Form/bootstrap_3_fields.html.twig' %}#}
{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% extends '::base.html.twig' %}
{#<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">#}


    {#<div class="panel panel-default">#}
        {#<div class="panel-heading">Critères</div>#}
        {#<div class="panel-body">#}


            {#<ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">#}

                {#<li>#}
                    {#<a href="#" class="btn" data-target="#hebergement" data-toggle="collapse" data-parent="#stacked-menu">Type<span class="caret lead arrow"></span></a>#}

                    {#<div class="list-group nav nav-stacked  left-submenu checked-list-box" id="hebergement">#}
                        {#<div class="list-group-item" style="text-align: center">#}

                            {#<a href="{{ path('fos_user_profile_show') }}">Profil</a>#}
                        {#</div>#}
                        {#<div class="list-group-item btn btn-default">#}
                            {#<a href="{{ path('adresses_show_by_profile') }}">Adresse</a>#}
                        {#</div>#}

                        {#<div class="list-group-item btn btn-success">#}
                            {#Factures#}
                        {#</div>#}
                        {#{% if is_granted("ROLE_BORNE")  %}#}
                            {#<div class="list-group-item btn btn-default">#}

                                {#<a href="{{ path('BORNEPROP') }}">Mes Bornes</a>#}
                            {#</div>#}

                            {#<div class="list-group-item btn btn-default">#}

                                {#<a href="#">Mes Factures</a>#}
                            {#</div>#}
                            {#{% else %}#}
                                {#<div class="list-group-item">#}
                                    {#Vous avez une borne à louer?<br>#}
                                    {#<a href="{{ path('borne_new') }}">Mettez la en location</a>#}
                                {#</div>#}

                        {#{% endif %}#}
{% block body -%}
<div class="content">
    {#<form>#}
                        <button class="button_bulky_centered filter_limegreen" onclick="location.href='{{ path('clientsmenu_profil') }}'">Profil</button>
                        <button class="button_bulky_centered filter_skyblue" onclick="location.href='{{ path('borne_new') }}'" >Proposer une borne</button>
                        <button class="button_bulky_centered filter_warmorange" onclick="location.href='{{ path('borne_recherche') }}'" >Chercher une borne</button>
{#</form>#}
                        </div>
                        {#<div class="list-group-item">#}
                        {#{{ form_widget(form.CityBreak) }}#}

                        {#{{ form_label(form.CityBreak) }}#}


                        {#</div>#}
{% endblock %}